@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: white;
}
.navbar{
    margin-bottom: 0%;
    background-color:#23415D;
    position: fixed;
    width: 100%;
    z-index:1;
}
.navbar-brand{
    margin-right: 60px;
    margin-left: 60px;
    color: white;
    font-weight: 600;
}
.nav-link{
    align: right;
    color: white;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
}
.navbar-toggler-icon{
    background-color: white;
}
#home{
    background: url('mountains.jpeg') no-repeat 50% 50%;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.landing-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.landing-text h1{
    font-family: 'Montserrat';
    font-size: 700%;
    line-height: 0.9;
}
.landing-text h3{
    font-size: 260%;
    font-weight: 500;
    line-height: 1.2;
}
.btn-default{
    background-color: white;
    color:#36342F;
    font-size: 160%;
}
.btn-default:hover{
    color: white;
    background-color:#36342F;
}
.landing-text p{
    color: #000;
    padding: 3%;
    font-size: 180%;
}
p{
    color: black;
}
h2{
    color: black;
}
.aboutbt{
    padding: 5%;
}
.aboutbt p{
    text-align: center;
    font-size: 100%;
}
.features{
    padding: 5%;
}    
.features img{
    height: 80%;
    width: 80%;
}
.bg{
    height: 80%;
    width: 100%;
}
.bg img{
    height: 80%;
    width: 100%;
    margin:0%;
}
.thing{
    padding: 5%;
}
.thing img{
    padding:5%;
    height: 100%;
    width: 100%;   
}
footer{
    text-align: center;
    background-color:#23415D;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    min-height: 40%;
    max-height: 80%;
}
.contact img{
    padding-top:10%; 
    height:90%;
    width: 35%;
}







 @media  (max-width:768px) {
    .landing-text h1{
        font-size: 350%;
     }
    .landing-text h3{
         font-size: 150%;
     }
     .btn-default{
         font-size: 120%;
     }
    .landing-text p{
         font-size: 100%;
     }
 }



















